@import-normalize; /* bring in normalize.css styles */
@import "shared/styles/variables";

.app {
  text-align: center;
}

.app-header {
  background-color: $dark-gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: $white;

  a {
    color: $white;
  }
}
